footer {
    background-color: $colour-blackgreen;
    padding: 40px;

    img {
        padding-bottom: 20px;
    }

    .navigation {
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        li {
            font-size: 20px;
            font-weight: 400;
        }

        a {
            text-decoration: none;
            color: white;
        }

        i {
            margin-right: 10px;
        }
    }
}