//NAVIGATION ACCUEIL
.logoMenu {
    @include flexcenter;
    padding: 25px;

    img {
        width: 250px;
    }
}

//Localisation
.location {
    @include flexcenter;
    padding: 25px 0;
    background-color: $colour-location;
    box-shadow: 0px 5px 5px lightgray inset;

    p {
        font-size: nth($font-size, 1);
        font-weight:nth($font-weight, 2);
        margin-left: 20px;
    }
}

//NAVIGATION MENU DES RESTAURANTS
.menu {
    display: flex;
    align-items: center;
    padding: 25px;

    //Flèche
    &__arrow {
        width: 30px;

        i {
            font-size: nth($font-size, 4);
            color: $colour-black;
        }
    }

    //Logo
    &__logo {
        width: 100%;
        @include flexcenter;
    }

    img {
        width: 250px;
        justify-self: center;
    }
}
