.logoMenu {
    display: flex;
    justify-content: center;
    padding: 25px;

    img {
        width: 250px;
    }
}

.location {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    background-color: $colour-darkgrey;
    box-shadow: 0px 5px 5px lightgray inset;

    p {
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
    }
}

.menu {
    display: flex;
    align-items: center;
    padding: 25px;

    &__arrow {
        width: 30px;

        i {
            font-size: 40px;
            color: black;
        }
    }

    &__logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    img {
        width: 250px;
        justify-self: center;
    }
}
