@keyframes gradual-appearance {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes heart-completed {
  100% {
    transform: translateX(-50%) translateY(-50%) scaleY(0);
  }
}
@keyframes line-opacity {
  100% {
    opacity: 0;
  }
}
@keyframes heart-zoom {
  50% {
    transform: translateX(-50%) translateY(-50%) scale(1.1);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.button__gradient {
  display: block;
  width: 300px;
  padding: 20px 0;
  margin: auto;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 20px;
  box-shadow: 0px 4px 4px 2px #cfcece;
}
.button__gradient:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 4px 4px 2px #9d9a9a;
}

.heart__button {
  width: 55px;
  height: 50px;
  position: relative;
}
.heart__button-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heart__button-full {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
}
.heart__button-hide {
  width: 55px;
  height: 50px;
  transform-origin: top;
  background-color: white;
}
.heart__button:hover .heart__button-hide {
  animation: heart-completed 1500ms ease-out forwards;
}
.heart__button:hover .heart__button-line {
  animation: line-opacity 900ms 700ms ease-in-out forwards;
}
.heart__button:hover .heart__button-full {
  animation: heart-zoom 700ms 1000ms ease-in-out forwards;
}

.logoMenu {
  display: flex;
  justify-content: center;
  padding: 25px;
}
.logoMenu img {
  width: 250px;
}

.location {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  background-color: #eaeaea;
  box-shadow: 0px 5px 5px lightgray inset;
}
.location p {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

.menu {
  display: flex;
  align-items: center;
  padding: 25px;
}
.menu__arrow {
  width: 30px;
}
.menu__arrow i {
  font-size: 40px;
  color: black;
}
.menu__logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu img {
  width: 250px;
  justify-self: center;
}

footer {
  background-color: #353535;
  padding: 40px;
}
@media only screen and (min-width: 990px) {
  footer {
    padding: 40px 3%;
  }
}
footer h4 {
  color: white;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-size: 400;
  padding-bottom: 20px;
}
footer .navigation {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
footer .navigation li {
  font-size: 20px;
  font-weight: 300;
}
footer .navigation a {
  text-decoration: none;
  color: white;
}
footer .navigation i {
  margin-right: 10px;
}

.presentation {
  padding: 60px 0 100px 0;
  background-color: #f7f7f7;
}
.presentation h1 {
  width: 400px;
  font-size: 40px;
  text-align: center;
  margin: auto;
}
.presentation p {
  font-size: 24px;
  font-weight: 400;
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 20px 0 40px 0;
}

.functioning {
  width: 90%;
  margin: auto;
  padding: 50px 0;
}
.functioning h2 {
  font-size: 30px;
  padding-bottom: 30px;
}
.functioning__container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media only screen and (min-width: 990px) {
  .functioning__container {
    flex-direction: row;
    column-gap: 30px;
  }
}
.functioning a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  width: 100%;
}
.functioning__article {
  display: flex;
  align-items: center;
}
.functioning__number {
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.functioning__text {
  display: flex;
  align-items: center;
  width: 95%;
  height: 90px;
  border-radius: 20px;
  padding-left: 40px;
  margin-left: -15px;
  background-color: #f7f7f7;
  box-shadow: 2px 5px 10px #cfcece;
}
.functioning__text i {
  margin-right: 20px;
  opacity: 0.5;
}
.functioning__text p {
  font-size: 20px;
  font-weight: 500;
}
.functioning__text:hover {
  background-color: #f5edff;
  transition: background-color 500ms;
}
.functioning__text:hover i {
  color: #9356DC;
  opacity: 1;
}

.restaurants {
  background-color: #f7f7f7;
  padding: 80px 0;
}
.restaurants h2 {
  font-size: 30px;
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}
.restaurants__container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}
@media only screen and (min-width: 990px) {
  .restaurants__container {
    width: 98%;
    flex-direction: row;
    column-gap: 30px;
    flex-wrap: wrap;
  }
}
.restaurants__link {
  text-decoration: none;
  color: black;
}
@media only screen and (min-width: 990px) {
  .restaurants__link {
    width: 45%;
    max-width: 1000px;
  }
}
.restaurants__article {
  margin: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 5px 10px #cfcece;
}
.restaurants__image {
  width: 100%;
  position: relative;
}
.restaurants__image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__image span {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  padding: 10px 20px;
  color: #008766;
  font-size: 20px;
  font-weight: 500;
}
.restaurants__description {
  display: flex;
  padding: 30px 20px;
  justify-content: space-between;
  align-items: center;
}
.restaurants__description i {
  font-size: 40px;
  padding-right: 20px;
}
.restaurants__text h3 {
  font-weight: 500;
  padding-bottom: 5px;
}
.restaurants__text p {
  font-weight: 400;
}

.image-presentation {
  width: 100%;
  height: auto;
  position: relative;
}
.image-presentation img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.mainMenu {
  background-color: #f7f7f7;
  margin-top: -60px;
  z-index: 1000;
  position: relative;
  border-radius: 50px 50px 0 0;
}
@media only screen and (min-width: 990px) {
  .mainMenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}

.namerestaurants {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
@media only screen and (min-width: 990px) {
  .namerestaurants {
    width: 97%;
  }
}
.namerestaurants h1 {
  width: 75%;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 500;
  justify-self: flex-start;
}
@media only screen and (min-width: 990px) {
  .namerestaurants h1 {
    width: 85%;
  }
}
.namerestaurants a {
  text-decoration: none;
  color: black;
}
.namerestaurants i {
  font-size: 40px;
}

.starter,
.main,
.dessert {
  width: 90%;
  margin: auto;
}
@media only screen and (min-width: 990px) {
  .starter,
.main,
.dessert {
    width: 30%;
  }
}
.starter h2,
.main h2,
.dessert h2 {
  font-size: 30px;
  font-weight: 400;
}
.starter hr,
.main hr,
.dessert hr {
  width: 50px;
  border: 2px solid #99E2D0;
  margin: 5px 0 20px 0;
}
.starter__container,
.main__container,
.dessert__container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.starter__container a,
.main__container a,
.dessert__container a {
  width: 100%;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 5px 10px #cfcece;
  overflow: hidden;
  opacity: 0;
  transform: translateY(40px);
  animation: gradual-appearance 1000ms forwards;
}
.starter__container a:hover .checkbox,
.main__container a:hover .checkbox,
.dessert__container a:hover .checkbox {
  margin-right: 0;
  transition: margin-right 800ms ease-out;
}
.starter__container a:hover .fa-circle-check,
.main__container a:hover .fa-circle-check,
.dessert__container a:hover .fa-circle-check {
  transform: rotate(360deg);
  transition: transform 600ms ease-in-out;
}
.starter__container a.item-one,
.main__container a.item-one,
.dessert__container a.item-one {
  animation-delay: 300ms;
}
.starter__container a.item-two,
.main__container a.item-two,
.dessert__container a.item-two {
  animation-delay: 600ms;
}
.starter__container a.item-three,
.main__container a.item-three,
.dessert__container a.item-three {
  animation-delay: 900ms;
}
.starter__container a.item-four,
.main__container a.item-four,
.dessert__container a.item-four {
  animation-delay: 1200ms;
}
.starter__container article,
.main__container article,
.dessert__container article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.starter__description,
.main__description,
.dessert__description {
  width: 80%;
  padding: 0 20px;
}
.starter__description h3,
.main__description h3,
.dessert__description h3 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.starter__description p,
.main__description p,
.dessert__description p {
  font-size: 20px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.starter__price,
.main__price,
.dessert__price {
  font-weight: 500;
  font-size: 20px;
  border-radius: 0 20px 20px 0;
}
.starter__check,
.main__check,
.dessert__check {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  margin-right: -200px;
}
.starter__check i,
.main__check i,
.dessert__check i {
  color: white;
  font-size: 30px;
  transform: rotate(0);
  transition-duration: 1000ms;
}

.main,
.dessert {
  padding-top: 50px;
}
@media only screen and (min-width: 990px) {
  .main,
.dessert {
    padding-top: 0px;
  }
}

.button__container {
  padding: 50px 0;
}

/*# sourceMappingURL=style.css.map */
