//BOUTON COEUR 
.heart__button {
    width: 55px;
    height: 50px;
    position: relative;

    //Tout les éléments icon + div
    &-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    //Coeur rempli
    &-full {
        color: transparent;
        background-image: linear-gradient($colour-secondary, $colour-primary);
        background-clip: text;
        -webkit-background-clip: text;
    }

    //Div pour cacher
    &-hide {
        width: 55px;
        height: 50px;
        transform-origin: top;
    }

    &:hover {
        & .heart__button-hide {
            animation: heart-completed 1500ms ease-out forwards;
        }

        & .heart__button-line {
            animation: line-opacity 900ms 700ms ease-in-out forwards;
        }

        & .heart__button-full {
            animation: heart-zoom 700ms 1000ms ease-in-out forwards;
        }
    }
}

//COULEUR FOND PAGE ACCUEIL
.restaurants__description .heart__button .heart__button-hide {
    background-color: $colour-white;
}

//COULEUR FOND PAGE MENU
.namerestaurants .heart__button .heart__button-hide {
    background-color: $colour-container;
}