.presentation {
    padding: 60px 0 100px 0;
    background-color: $colour-container;

    h1 {
        width: 400px;
        font-size: nth($font-size, 4);
        text-align: center;
        margin: auto;
    }

    p {
        font-size: nth($font-size, 2);
        font-weight: nth($font-weight, 1);
        width: 500px;
        margin: auto;
        text-align: center;
        padding: 20px 0 40px 0;
    }

}

.functioning {
    width: 90%;
    margin: auto;
    padding: 50px 0;

    h2 {
        font-size: nth($font-size, 3);
        padding-bottom: 30px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @include desktop {
            flex-direction: row;
            column-gap: 30px;
        }
    }

    a {
        text-decoration: none;
        color: $colour-black;
        font-size: nth($font-size, 1);
        width: 100%;
    }

    &__article {
        display: flex;
        align-items: center;
    }

    &__number {
        width: 30px;
        height: 30px;
        background-color: $colour-primary;
        border-radius: 50%;
        color: $colour-white;
        @include flexcenter;
        align-items: center;
        z-index: 1000;
    }

    &__text {
        display: flex;
        align-items: center;
        width: 95%;
        height: 90px;
        border-radius: 20px;
        padding-left: 40px;
        margin-left: -15px;
        background-color: $colour-container;
        box-shadow: 2px 5px 10px $colour-shadow;

        i {
            margin-right: 20px;
            opacity: 0.5;
        }

        p {
            font-size: nth($font-size, 1);
            font-weight: nth($font-weight, 2);
        }

        &:hover {
            background-color: $colour-hover-primary;
            transition: background-color 500ms;

            & i {
                color: $colour-primary;
                opacity: 1;
              }
        }
    }
}

.restaurants {
    background-color: $colour-container;
    padding: 80px 0;

    h2 {
        font-size: nth($font-size, 3);
        width: 90%;
        margin: auto;
        padding-bottom: 20px;
    }

    &__container {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;

        @include desktop {
            width: 98%;
            flex-direction: row;
            column-gap: 30px;
            flex-wrap: wrap;
        }
    }

    &__link {
        text-decoration: none;
        color: $colour-black;

        @include desktop {
            width: 45%;
            max-width: 1000px;
        }
    }

    &__article {
        margin: auto;
        background-color: $colour-white;
        border-radius: 20px;
        box-shadow: 2px 5px 10px $colour-shadow;
    }

    &__image {
        width: 100%;
        position: relative;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }

        span {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: $colour-tertiary;
            padding: 10px 20px;
            color: $colour-badge;
            font-size: nth($font-size, 1);
            font-weight: nth($font-weight, 2);
        }
    }

    &__description {
        display: flex;
        padding: 30px 20px;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: nth($font-size, 4);
            padding-right: 20px;
        }
    }

    &__text {
        h3 {
            font-weight: nth($font-weight, 2);
            padding-bottom: 5px;
        }

        p {
            font-weight: nth($font-weight, 1);
        }
    }

}