//COULEURS
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-hover-primary: #f5edff;
$colour-location: #eaeaea;
$colour-container: #f7f7f7;
$colour-badge: #008766;
$colour-footer: #353535;
$colour-shadow: #cfcece;
$colour-white: white;
$colour-black: black;

//TAILLE POLICE
$font-size: 20px 24px 30px 40px;

//TAILLE GRAS POLICE
$font-weight: 400 500;